<nz-list class="demo-loadmore-list">
  <nz-list-item *ngFor="let item of leagues">
    <ng-container>
      <nz-list-item-meta
        [nzAvatar]="item['Logo de la Liga']"
        [nzDescription]="item['Nombre De La Liga']"
      >
        <!-- <nz-list-item-meta-title>
          <a href="https://ng.ant.design">{{ item['Identificador'] }}</a>
        </nz-list-item-meta-title> -->
      </nz-list-item-meta>

      <ul nz-list-item-actions>
        <nz-list-item-action
          ><a (click)="edit(item)">edit</a></nz-list-item-action
        >
        <nz-list-item-action
          ><a (click)="edit(item)">more</a></nz-list-item-action
        >
      </ul>
    </ng-container>
    <nz-skeleton
      *ngIf="item.loading"
      [nzAvatar]="true"
      [nzActive]="true"
      [nzTitle]="false"
      [nzLoading]="true"
    ></nz-skeleton>
  </nz-list-item>
  <!-- <div class="loadmore" nz-list-load-more>
    <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">
      loading more
    </button>
  </div> -->
</nz-list>
