<h2>Teams</h2>
<button class="mb-3" nz-button nzType="primary" routerLink="create">
  Add team
</button>
<nz-table
  #virtualTable
  [nzBordered]="true"
  [nzData]="teams"
  [nzVirtualForTrackBy]="trackByIndex"
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  [nzScroll]="{ x: '350px', y: '400px' }"
>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Team's Name</th>
      <th>League</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll let-data let-index="index">
      <tr>
        <td>
          <nz-avatar
            nzIcon="user"
            [nzSrc]="data['Logo del Equipo']"
          ></nz-avatar>
        </td>
        <td>{{data['Nombre del equipo']}}</td>
        <td>{{data['Liga']}}</td>
        <td>
          <a nz-button nzType="link" (click)="showModal(data)"
            ><i nz-icon nzType="unordered-list" nzTheme="outline"></i>Details</a
          >

          <a nz-button nzType="link" [routerLink]="['edit',data['id']]"
            ><i nz-icon nzType="edit" nzTheme="outline"></i>Edit</a
          >

          <a nz-button nzType="text" nzDanger (click)="showDeleteConfirm(data)"
            ><i nz-icon nzType="delete" nzTheme="outline"></i>Delete</a
          >
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleOk()"
>
  <ng-template #modalTitle>Players from {{ selectedTeamName }}</ng-template>

  <ng-template #modalContent>
    <p *ngFor="let player of filterdPlayers">
      {{ player['Nombre del Jugador'] }}
    </p>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOk()">Ok</button>
  </ng-template>
</nz-modal>
